.App {
  padding: 20px;
}

.total-income {
  padding: 12px;
  text-align: center;
  font-size: 42px;
  color: #505050;
}

.tab-show {
  display: block;
  margin: 20px 0;
}

.tab-hidden {
  display: none;
}

.total-insights dt,
.total-insights dd {
  font-size: 12px;
}

.total-insights dd {
  padding-bottom: 3px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e1e1e1;
  color: #75747c;
}
